@import url("./components/profile/profile.css");
@import url("./components/fact/fact.css");

:root {
  --color-gray-light: rgba(150, 150, 150, 0.2);
  --color-gray-dark: rgb(150, 150, 150);
  --color-white: white;
  --border-radius: 8px;
  --spacer: 4px;
  --line-height: 1.2;
}

:host,
knowledge-graph {
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: var(--line-height);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@keyframes shine {
  to {
    background-position: 150% 0, 0 0;
  }
}

.loading {
  animation: shine 1s infinite alternate ease-in-out;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-position: -50% 0;
  background-repeat: repeat-y;
  background-size: 50% 100%;
  border-radius: min(var(--border-radius), 1%);
  height: var(--height, calc(var(--line-height) * 1em));
  margin-bottom: var(--spacer);
  vertical-align: middle;
}

.card {
  padding: calc(var(--spacer) * 5);
  border: 2px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  background: var(--color-white);
}

.card__wrapper {
  max-width: 640px;
  margin: auto;
}

h1 {
  font-size: 1.67em;
  word-wrap: break-word;
  margin: 0;
}

.card__website {
  text-decoration: none;
  font-size: 0.8em;
  text-underline-offset: 2px;
}

.card__website:hover {
  text-decoration: underline;
}

.card__body {
  margin: 1em 0;
}

.card__body a,
.card__body p {
  display: inline;
}

.card__body a {
  text-decoration: none;
  text-underline-offset: 2px;
}

.card__body a:hover {
  text-decoration: underline;
}

.card__source {
  color: var(--color-gray-dark);
  font-size: 0.7em;
  opacity: 0.7;
  margin: var(--spacer);
  float: right;
  text-decoration: none;
}

.card__source img {
  vertical-align: middle;
}

.card__source:hover {
  text-decoration: underline;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image__wrapper:not(.card-image__wrapper--single) {
  display: flex;
  width: calc(var(--spacer) * 10 + 100%);
  margin-left: calc(var(--spacer) * -5);
  margin-top: calc(var(--spacer) * -5);
  margin-bottom: calc(var(--spacer) * 5);
  max-height: 160px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}

.card-image__wrapper--single .card-image__link {
  float: right;
  clear: right;
}

.card-image__wrapper--single .card-image__link .card-image {
  max-width: 120px;
  max-height: 160px;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 25px 25px;
}
